/* 10 rule sets */
/* 1 of each selector: type, class, ID, attribute */
/* consistency across all HTML files */
/* modify layout (backgrounds, margins, padding) and typography */
/* VALIDATE IF YOU MAKE HTML CHANGES!!! */

/* 3 of these: */
/* -> • Sticky sidebar or nav */
/* • Two-column flexbox layout */
/* • Three-column " with larger middle col. */
/* • floated image with caption */
/* -> • multi-column form layout with flexbox */

html {
	background-color: #f0f0f0;
}

body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 30px;
	margin-bottom: 30px;
	min-width: 500px;
	padding: 20px;
	background-color: #fffbf6;
	box-shadow: 0px 0px 10px 2px #ddd;
}

header {
	border-bottom: 2px solid #eee;
	position: sticky;
	top: 0;
	background-color: #fffaf4;
	box-shadow: 0px 0px 10px 2px #fdf4ea44;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1%;
}

nav ul {
	display: flex;
	list-style-type: none;
	
}

nav li {
	margin-left: 20px;
}

#motd {
	word-spacing: 2px;
	font-size: large;
	margin: 2%;
	color: #444;
}

#motd em {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 500;
	color: rgb(139, 0, 30);
}

nav a {
	word-spacing: 2em;
}

.content-focus {
	color: #333;
	padding: 10px;
	padding-left: 4%;
	padding-right: 4%;
}

.content-focus > h2 {
	text-align: center;
}

.flex-posts {
	display: flex;
}

.blog-post {
	border-bottom: 2px solid #eee;
	width: 50%;
	padding: 20px;
}

table {
	border: 1px dotted #bbb;
	padding: 15px;
	margin: 0;
	text-align: center;
}

h1 {
	text-shadow: 0px 0px 4px #ddd;
}

h2 {
	text-shadow: 0px 0px 4px #ddd;
}

a {
	text-decoration: unset;
	font-weight: bold;
	color: rgb(136, 0, 34);
}

.author {
	color: #666;
}

article p, article ul {
	color: #666;
}

.blog-post img {
	max-width: 100%;
	max-height: 100%;
	border: 1px solid #444;
}

#newsletter-signup {
	padding: 20px;
}

#contact-form {
	text-align: center;
}

.form-columns {
	display: flex;
	justify-content: center;
	line-height: 2em;
}

.form-columns div {
	margin: 20px;
}

input, textarea {
	width: 300px;
	margin: 20px;
}

input {
	font-size: 1em;
}

input[type="email"] {
	font-style: italic;
	color: rgb(41, 145, 41);
}

@media (max-width: 400px) {
	.blog-post img {
		float: left;
		margin-right: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
		height: auto;
	}

	.form-columns {
		display: block;
	}

	.flex-posts {
		display: block;
		width: 100%;
	}
	
	.blog-post {
		width: 100%;
	}
}

/* additional rule because I thought it looked nice
   edit: omitting this for now because I don't want
   to lose points for not following directions */
/* @media (max-width: 1000px) {
	.flex-posts {
		display: block;
		width: 100%;
	}
	
	.blog-post {
		width: 100%;
	}
} */
